#signin-page {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 53vh 47vh;
}

#purple-side {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color-text-in-primary);
    background: var(--color-primary);
    padding: 1.5rem 0 1.5rem 0;
}

#purple-side-content {
    background-image: url('../../assets/images/Background.svg');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#purple-side-content .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


#purple-side-content .title img {
    height: 10rem;
}

#purple-side-content .title h2 {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 4rem;
    margin-top: 0.8rem;
}

#signin-page #white-side {
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--color-background);
}

#signin-page #white-side #white-side-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 42.3rem;
    position: relative;
}

#signin-page #white-side #white-side-content h1 {
    margin-bottom: 3rem;
    display: flex;
    align-self: flex-start;
}

#signin-page #white-side #white-side-content div.float-label {
    width: 100%;
    position: relative;
}

#signin-page #white-side #white-side-content div.float-label:focus-within::after {
    content: '';
    width: 0.2rem;
    height: calc(100% - 2rem);
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    left: 0;
    background-color: var(--color-primary-light);
}

#signin-page #white-side #white-side-content div.float-label input {
    width: 100%;
    height: 6rem;
    border-radius: 0.8rem 0.8rem 0 0;
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    padding: 0 1.6rem;
    font: 1.5rem Poppins;
}

#signin-page #white-side #white-side-content div.float-label input::placeholder {
    color: transparent;
}

#signin-page #white-side #white-side-content div.float-label input[type=password] {
    border-radius: 0 0 0.8rem 0.8rem;
    border-top: 0;
}

#signin-page #white-side #white-side-content div.float-label input[type=password]::-ms-reveal {
    display: none;
}

#signin-page #white-side #white-side-content div.float-label label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1.7rem;
    margin-top: 1.7rem;
    transition: all .3s ease-out;
}

#signin-page #white-side #white-side-content div.float-label input:focus + label,
#signin-page #white-side #white-side-content div.float-label input:not(:placeholder-shown) + label {
    font-size: 1.3rem;
    margin-top: 0.1rem;
}

#signin-page #white-side #white-side-content div.float-label button.customIcon {
    position: absolute;
    right: 5%;
    top: 30%;

    border: none;
    background: none;
    outline: none;
}

#signin-page #white-side #white-side-content .bellow-inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--color-text-complement);
    font: 1.6rem Poppins;
    margin-top: 4rem;
}

#signin-page #white-side #white-side-content .bellow-inputs label {
    color: inherit;
    font: inherit;
}

#signin-page #white-side #white-side-content .bellow-inputs label input {
    appearance: none;
    padding: 0;
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--color-secundary);
    border: 0.1rem solid var(--color-secundary);
    vertical-align: bottom;
    border-radius: 0.8rem;
    display: inline-block;
    position: relative;
    outline: 0;
    vertical-align: bottom;
    margin-right: 1.6rem;
}

#signin-page #white-side #white-side-content .bellow-inputs label input:checked {
    color: #FFF;
}

#signin-page #white-side #white-side-content .bellow-inputs label input:checked:after {
    content: '\2714';
    font-size: 1.4rem;
    position: absolute;
    top: 0.2rem;
    left: 0.6rem;
    color: var(--color-button-text);
}

#signin-page #white-side #white-side-content .bellow-inputs a {
    text-decoration: none;
    color: inherit;
    font: inherit;
}

#signin-page #white-side #white-side-content .footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    
    margin-top: 2.5rem;
}

#signin-page #white-side #white-side-content .footer .account {
    display: flex;
    flex-direction: column;
    font: 1.6rem Poppins;
}

#signin-page #white-side #white-side-content .footer .account a {
    color: var(--color-primary);
    font-weight: 700;
}

#signin-page #white-side #white-side-content .footer span {
    font-size: 1.4rem;
}

#signin-page #white-side #white-side-content .footer span img {
    width: 1.4rem;
    height: 1.4rem;
}

@media(min-width: 1000px){
    #signin-page {
        width: 100vw;
    
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100vh;
    }

    #signin-page #white-side #white-side-content h1 {
        margin-bottom: 5rem;
    }

    #signin-page #white-side #white-side-content .footer {
        margin: 0;
        position: absolute;
        bottom: 5rem;
    }

    #purple-side {
        padding: 0 1rem 0 1rem;
    }

    #purple-side-content img {
        height: 100%;
    }

    #purple-side-content .title h2 {
        font-size: 2.6rem ;
        max-width: 30rem;
    }

    #signin-page #white-side {
        padding: 0 2rem 0 2rem;
    }

}